

body {
    background-color: black;
    max-width: 100%;
    display: flex;
    flex-direction: column;


}

.logo {
    font-family: "Baloo 2", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0,25px;
    color: white;
}

.list-item {
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    line-height: 22px;
    color: white;
    text-decoration: none;
}

.h1 {
    font-family: "Poppins", sans-serif;
    font-size: 84px;
    line-height: 102px;
    letter-spacing: -2px;
    color: white;
}

.paragraph {
    font-family: "Source Code Pro", monospace;
    font-size: 22px;
    line-height: 34px;
    color: white;
}

.image {
    max-width: 864px;
    max-height: 486px;
}

.navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 50px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
